# Disable Samsung anti-root protection
CONFIG_UH=n
CONFIG_UH_RKP=n
CONFIG_UH_RKP_FIMC_CHECK=n
CONFIG_KDP_CRED=n
CONFIG_KDP_NS=n
CONFIG_KDP_DMAP=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

# Setting LocalVersion
CONFIG_LOCALVERSION="-GoRhanHee_Kernel_A516N"
CONFIG_LOCALVERSION_AUTO=n